[submodule "MiosGE/vendor/spdlog"]
	path = MiosGE/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "MiosGE/vendor/GLFW"]
	path = MiosGE/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "MiosGE/vendor/imgui"]
	path = MiosGE/vendor/imgui
	url = https://github.com/ocornut/imgui
