[submodule "MiosGE/vendor/spdlog"]
	path = MiosGE/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "MiosGE/vendor/GLFW"]
	path = MiosGE/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "MiosGE/vendor/imgui"]
	path = MiosGE/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "MiosGE/vendor/glm"]
	path = MiosGE/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "MiosGE/vendor/yaml-cpp"]
	path = MiosGE/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "MiosGE/vendor/ImGuizmo"]
	path = MiosGE/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "miosGE/vendor/Box2D"]
	path = miosGE/vendor/Box2D
	url = https://github.com/erincatto/box2d
